VITE_API_URL=http://localhost:8080
VITE_AUTH0_DOMAIN=dev-6kcpfhfipfzjf5k4.us.auth0.com
VITE_AUTH0_CLIENT_ID=kDl3mEO0lmIfGU7K0C2xDJzK5B7doqUv
VITE_AUTH0_AUDIENCE=https://api.fya.com
VITE_AUTH0_REDIRECT_URI_NATIVE=com.fya.credits://dev-6kcpfhfipfzjf5k4.us.auth0.com/capacitor/com.fya.credits/callback
