node_modules/
dist/
dist-ssr/
.env
.env.production
*.local

android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
*.apk
*.aab
*.keystore
*.jks

.idea/
.vscode/
.DS_Store
android/keystore.properties
